body {
	background: #232323;
	color: white;
}

.product-wrapper {
	display: block;
	width: 100%;
	float: left;
	transition: width .2s;
}

@media only screen and (min-width: 450px) {
	.product-wrapper {
		width: 50%;
	}
}

@media only screen and (min-width: 768px) {
	.product-wrapper {
		width: 33.333%;
	}
}

@media only screen and (min-width: 1000px) {
	.product-wrapper {
		width: 25%;
	}
}

.product {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	max-width: 300px;
	margin: 5px;
	text-align: center;
	font-family: Arial;
	background-color: #343434;
	border-radius: 2%;
	overflow: hidden;
}

.cart_page {
	color: white;
}

.products {
	list-style: none;
	margin: 0 15% 0 15%;
	padding: 0;
}

.product img {
	margin-top: 10px;
	margin-bottom: 10px;
	max-width: 100%;
	max-height: 100%;
	height: 250px;
	border-radius: 3%;
}


.product img:hover {
	transform: scale(1.05);
}

.product button {
	border: none;
	outline: 0;
	padding: 12px;
	color: white;
	background-color: #5539C2;
	text-align: center;
	cursor: pointer;
	width: 100%;
	font-size: 18px;

}

.cart_widget {
	background-color: #343434;
	border-color: #343434;
	color: #ffffff;
}

.dropdown-item:hover {
	background-color: #343434;
}

.bottom_border {
	border-bottom: 4px solid #5539C2;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.img-left {
	max-width: 80%;
	max-height: 100%;
}

.img-zoom-container {
	position: relative;
}

.img-zoom-lens {
	position: absolute;
	border: 1px solid #d4d4d4;

	width: 40px;
	height: 40px;
}

.img-zoom-result {
  border: 1px solid #d4d4d4;
  /*set the size of the result div:*/
  width: 300px;
  height: 300px;
}

.price {
	border: none;
	outline: 0;
	padding: 12px;
	color: white;
	background-color: #5539C2;
	text-align: center;
	cursor: pointer;
	width: 100%;
	font-size: 18px;
}

.product-description {
	color: white;
	margin-top: 10px;
	margin-bottom: 10px;
	height: 50px;
}

.product-title {
	color: white;
}

.product a {
    color: white;
}

.a,
.b {
  display: inline-block;
}
