{% extends 'JustSimpleShop/base.html' %}
{% load static %}
{% block title %}
    {% if category %}{{ category.name }} {% else %} Products {% endif %}
{% endblock %}

{% block content %}
   <div class="container-fluid">
      <div class="row justify-content-center" style="margin-top: 6%">

        <div class="col-sm-8 blog-main">
          <div class="blog-post">
              <div class="row">
                  {% for product in products %}
                      <div class="col-md-3 product-wrapper">
                        <div class="product">
                            <a href="{{ product.get_absolute_url }}">
                                <img src="{% if product.image %} {{ product.image.url }} {% else %} {% static 'img/default.jpg' %} {% endif %}" alt="..." >
                            </a>
                            <div>
                                <h2 class="product-title">
                                    <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                                </h2>
                                <div class="product-description">{{ product.description }}</div>
                                <div class="price"><a href="{{ product.get_absolute_url }}">{{ product.price }}</a></div>
                            </div>
                        </div>
                      </div>
                  {% endfor %}
              </div>


          </div><!-- /.blog-post -->

        </div><!-- /.blog-main -->

<!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->
{% endblock %}